<h{{ .Level }}{{ if not (isset .Attributes "id") }} id="{{ .Anchor | safeURL }}"{{ end }}{{ if not (isset .Attributes "class") }} class="heading-link-title"{{ end }}{{ range $k, $v := .Attributes }}{{ printf " %s=%q" $k $v | safeHTMLAttr }}{{ end }}>
{{- .Text | safeHTML -}}</h{{ .Level }}>
{{- if gt .Level 1 -}}<a  aria-hidden="true" class="heading-link heading{{ .Level }}-link"  tabindex="-1" href="#{{ .Anchor | safeURL }}"><span class="heading-link-marker" tabindex="-1">#</span></a>{{- end -}}<br>
