<!DOCTYPE html>
{{- if templates.Exists "partials/above-html-setup.html" -}}
	{{- partial "above-html-setup.html" . -}}
{{- end }}
{{- $topLevelClass := "nojs" -}}
{{- if isset site.Params "toplevelclass" -}}
	{{- $topLevelClass = site.Params.topLevelClass -}}
	{{- if isset .Page.Params "toplevelclass" -}}
		{{- $topLevelClass = .Page.Params.topLevelClass -}}
	{{- end -}}
{{- end }}
<html {{ with $topLevelClass }}class="{{ . }}"{{ end }} lang="{{ $.Site.Language.Lang }}" dir="{{ site.Language.LanguageDirection | default "ltr" }}">
{{- if templates.Exists "partials/head-wrapped.html" -}}
	{{- partial "head-wrapped.html" . -}}
{{- else }}
<head>
	{{- partial "head-top-level.html" . }}
</head>
{{- end }}
<body>
{{- if templates.Exists "partials/header-wrapped.html" -}}
	{{- partialCached "header-wrapped.html" . . -}}
{{- else }}
<div class="body-wrapper">
	{{- if templates.Exists "partials/css-deferrable-on-all-pages.html" -}}
		{{- partialCached "css-deferrable-on-all-pages.html" . . -}}
	{{- end -}}
	{{- if templates.Exists "partials/header.html" -}}
		{{- if ne (.Param "hidePageHeader") true }}
<header class="header-test-min">
			{{- partialCached "header" . . }}
</header>
		{{- end -}}
	{{- end }}
{{- end }}
{{- if templates.Exists "partials/body-after-header.html" -}}
	{{- partial "partials/body-after-header.html" . -}}
{{- else }}
<div class="test-scrollable-min">
	<h1>{{- partialCached "page-title.html" . . }}</h1>
	<div class="main" id="content">
{{- block "main" . }}
{{- end -}}
{{- partialCached "page-navigation" . . }}
	</div>
{{- partialCached "footer" . . }}
</div>
{{- end }}
{{- if not (templates.Exists "partials/header-wrapped.html") }}
</div>
{{- end }}
</body>
</html>
{{- /* Remove trailing newlines */ -}}
