<ul class="section-list-test-min">
{{ if .Content }}
    {{ partial "helpers/basic-content" .Content }}
{{ end }}
{{ if .Data.Terms }}
    {{/* For taxonomy and term pages, show the count beside the taxonomy or term, avoids need for specific taxonomy/term layouts  */}}
    {{ range .Data.Terms }}
    <li class="list-item-test-min"><a class="link-test-min" href="{{ .Page.RelPermalink }}">{{ .Title | default site.Title }}</a> ({{- .Count -}})</li>
    {{ end }}
{{ else }}
    {{ range .Pages }}
        <li class="list-item-test-min"><a class="link-test-min" href="{{ .RelPermalink }}">{{ .Title | default site.Title }}</a></li>
    {{ end }}
{{ end }}
</ul>
