{{- $ctx := . -}}
{{- $titleFromContent := false -}}
{{- $foundTitle := "" -}}
{{- with $ctx -}}
	{{- if .Title -}}
		{{- $foundTitle = .Title -}}
	{{- else -}}
		{{- /* Use contents of the first H1 element as the title */ -}}
		{{- if ge (len (findRE `(?s)<h1.*?>.*?</h1>` .Content)) 1 -}}
			{{- range (findRE `(?s)<h1.*?>.*?</h1>` .Content 1) -}}
				{{- $foundTitle = replaceRE `(?s)<h1.*?>(.+?)</h1>` "$1" . -}}
				{{- $titleFromContent = true -}}
			{{- end -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
{{- return (dict "foundTitle" $foundTitle "titleFromContent" $titleFromContent) -}}
