{{- if ne (.Param "hideSitePageNavigation") true -}}
{{- /* Show page navigation bar: Older | Older (this section) | Up a Level (or At Top) | Newer (this section) | Newer */ -}}
{{- /* Navigation labels may be hidden via CSS so that only the CSS and symbols appear (to save screen real estate) */}}
    <nav aria-label="{{ i18n "site_page_navigation" }}" class="nav-site-page-test-min bar-test-min">
        <ul class="list-test-min bar-test-min linkbar-test-min">
            <li class="list-item-test-min{{- if not .Prev }} none-test-min{{- end -}}">
        {{- if .Prev -}}
                <a class="link-test-min" href="{{ .Prev.RelPermalink }}"><span class="list-item-label-test-min">{{ i18n "older" }}: </span>
            {{- partial "helpers/page-title.html" .Prev -}}</a>
        {{- else -}}
                <span class="link-test-min"><span class="list-item-label-test-min">{{ i18n "older" }}: </span>&squarf;</span>
        {{- end -}}
            </li>
            <li class="list-item-test-min{{- if not .PrevInSection }} none-test-min{{- end -}}">
        {{- if .PrevInSection -}}
                <a class="link-test-min" href="{{ .PrevInSection.RelPermalink }}"><span class="list-item-label-test-min">{{i18n "older_this_section"}}: </span>
            {{- partial "helpers/page-title.html" .PrevInSection -}}</a>
        {{- else -}}
                <span class="link-test-min"><span class="list-item-label-test-min">{{i18n "older_this_section"}}: </span>&squarf;</span>
        {{- end -}}
            </li>
            <li class="list-item-test-min{{- if not .Parent }} none-test-min{{- end -}}">
        {{- if .Parent -}}
                <a class="link-test-min" href="{{ .Parent.RelPermalink }}"><span class="list-item-label-test-min">{{ i18n "up_a_level" }}</span>
            {{- partial "helpers/page-title.html" .Parent -}}</a>
        {{- else -}}
            <span class="link-test-min"><span class="list-item-label-test-min">{{ i18n "at_top" }}</span>&equiv;</span>
        {{- end -}}
            </li>
            <li class="list-item-test-min{{- if not .NextInSection }} none-test-min{{- end -}}">
        {{- if .NextInSection -}}
                <a class="link-test-min" href="{{ .NextInSection.RelPermalink }}"><span class="list-item-label-test-min">{{ i18n "newer_this_section" }}: </span>{{- partial "helpers/page-title.html" .NextInSection -}}</a>
        {{- else -}}
                <span class="link-test-min"><span class="list-item-label-test-min">{{ i18n "newer_this_section" }}: </span>&squarf;</span>
        {{- end -}}
            </li>
            <li class="list-item-test-min{{- if not .Next }} none-test-min{{- end -}}">
        {{- if .Next -}}
                <a class="link-test-min" href="{{ .Next.RelPermalink }}"><span class="list-item-label-test-min">{{ i18n "newer" }}: </span>{{- partial "helpers/page-title.html" .Next -}}</a>
        {{- else -}}
                <span class="link-test-min"><span class="list-item-label-test-min">{{ i18n "newer" }}: </span>&squarf;</span>
        {{- end -}}
            </li>
        </ul>
    </nav>
{{- end }}
